@model IEnumerable<Dentist.Models.MedicalHistory>

@{
    ViewBag.Title = "Medical History";
}

<h2>Medical History</h2>

<p>
    @Html.ActionLink("Add New Medical History", "Create")
</p>
<table class="table">
    <tr>
        <th >
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td >
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MedicalHistoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MedicalHistoryID })
        </td>
    </tr>
}

</table>
