@model Dentist.Models.LabProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LabProduct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostOnPatient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostOnPatient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.HiddenFor(model => model.TreatmentID)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.TreatmentID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LabProductID }) 
</p>
